@media screen and (min-width: 900px) {
  .outer_div {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    padding: 0 3vw;
    margin: 0 0 10px 0;
    box-shadow: rgb(139, 139, 139) 0px 0px 6px 0px;
    z-index: 90;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .title_div {
    display: flex;
    align-items: center;

    justify-content: center;
  }
  .p1 {
    font-size: 20px;
    /* background-color: #1a6f76; */
    padding: 10px 0px;
    border-radius: 5px;

    color: #1a6f76;
    font-weight: 520;
  }
  .p2 {
    display: none;
    font-size: 11px;
    line-height: 1.3;
  }
  .emblem {
    height: 70px;
    width: 70px;
    /* background-color: #3c3737; */
  }
  .menubar {
    display: none;
  }
  /* .title p {
    padding: 0 5px;
    font-size: 19px;
    font-weight: 540;
    user-select: none;
    color: #ffffff;
    background-color: #1a6f76;
  } */
  .list,
  .list1 {
    display: flex;
    list-style: none;
  }
  .list li,
  .list1 li {
    padding: 10px 0.8vw;

    font-size: 14px;
    border-radius: 20px;
    font-weight: 530;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  .list li:hover {
    background-color: #edf4f4;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a6f76;
    padding: 6px 20px;
    border-radius: 25px;
  }
  .profile p {
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-left: 8px;
  }
  .profile_icon {
    color: white;
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .outer_div {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    padding: 0 3vw;
    margin: 0 0 10px 0;
    box-shadow: rgb(139, 139, 139) 0px 0px 6px 0px;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .menubar {
    cursor: pointer;
  }
  .title_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p1 {
    font-size: 18px;
    /* background-color: #1a6f76; */
    padding: 0px 0px;
    border-radius: 5px;
    margin: 0 0px;

    color: #1a6f76;
    font-weight: 520;
  }
  .p2 {
    display: none;
    font-size: 11px;
    line-height: 1.3;
  }
  .emblem {
    height: 50px;
    width: 50px;
    /* background-color: #3c3737; */
    margin-left: 30vw;
  }
  .list {
    display: none;
    position: fixed;
    top: 300px;
    display: flex;
    list-style: none;
  }
  .list1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    list-style: none;
    top: 0;
    margin-top: 4rem;
    left: 0;
    width: 45vw;
    box-shadow: rgb(139, 139, 139) 0px 6px 6px 0px;
    padding-top: 20px;
    border-top: 1px solid gray;
  }
  .list1 li {
    padding: 10px 50px;
    margin: 0 0px;
    font-size: 14px;
    /* border-radius: 20px; */
    font-weight: 530;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
    /* border-bottom: 1px solid gray; */
  }
  .list li {
    display: none;
    padding: 10px 20px;
    margin: 0 0px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 530;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  .list li:hover {
    background-color: #edf4f4;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a6f76;
    padding: 6px 20px;
    border-radius: 25px;
  }
  .profile p {
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-left: 8px;
  }
  .profile_icon {
    color: white;
    font-size: 20px;
  }
}
@media screen and (max-width: 520px) {
  .outer_div {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    padding: 0 3vw;
    margin: 0 0 10px 0;
    box-shadow: rgb(139, 139, 139) 0px 0px 6px 0px;
  }
  .title {
    display: flex;
    align-items: center;
  }
  .menubar {
    cursor: pointer;
  }
  .title_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p1 {
    font-size: 17px;
    /* background-color: #1a6f76; */

    border-radius: 5px;

    color: #1a6f76;
    font-weight: 520;
  }
  .p2 {
    display: none;
    font-size: 11px;
    line-height: 1.3;
  }
  .emblem {
    height: 40px;
    width: 40px;
    /* background-color: #3c3737; */
    margin-left: 5vw;
  }
  .list {
    display: none;
    position: fixed;
    top: 300px;
    display: flex;
    list-style: none;
  }
  .list1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    list-style: none;
    top: 0;
    margin-top: 3rem;
    left: 0;
    width: 80w;
    box-shadow: rgb(139, 139, 139) 0px 6px 6px 0px;
    padding-top: 20px;
    border-top: 1px solid gray;
  }
  .list1 li {
    padding: 10px 50px;
    margin: 0 0px;
    font-size: 14px;
    /* border-radius: 20px; */
    font-weight: 530;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
    /* border-bottom: 1px solid gray; */
  }
  .list li {
    display: none;
    padding: 10px 20px;
    margin: 0 0px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 530;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  .list li:hover {
    background-color: #edf4f4;
    transition: 250ms ease-in-out;
    user-select: none;
    cursor: pointer;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a6f76;
    padding: 6px 20px;
    border-radius: 25px;
  }
  .profile p {
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-left: 8px;
  }
  .profile_icon {
    color: white;
    font-size: 20px;
  }
}
